<div class="background">
  <p class="title">Places</p>
  <app-place *ngFor="let place of places"
             [place]="place"
             (placeChosen)="whenPlaceChosen($event)">
  </app-place>
</div>
