
.plusThing {
  margin: 10px;
  margin-left: 92.5%;
  text-align: center;
  font-weight: bolder;
}

.plusButton {
  border: 0px;
  text-align: center;
  font-weight: bolder;
  font-size: 150%;
  color: darkgray;
  border-radius: 5px;
}

.newThing {
  font-weight: bold;
  background: white;
  margin: 10px;
}

.dataLabel {
  margin-left: 5px;
  margin-right: 5px;
}

.doneButton {
  margin-left: 5px;
  text-align: center;
}

.warning {
  font-size: 90%;
}
