<div class="plusThing" style="width:5%">
  <button class="plusButton"
          [hidden]="isAddingNow == true"
          (click)="whenPlusButtonClicked()">
    +
  </button>
</div>

<div class="newThing" [hidden]="isAddingNow == false">
  <form #thingEntry="ngForm" (ngSubmit)="whenStoreButtonClicked(thingEntry)">
    <div class="form-inline">
      <input type="text" #thingName="ngModel"
             name="name"
             placeholder="Name / description"
             required
             [(ngModel)]="thing.name"
             class="form-control-sm"
             style="width:50%;"
      >
      <select #thingType="ngModel"
              name="type"
              required
              [(ngModel)]="thing.type"
              class="form-control-sm"
              style="width:30%;"
      >
        <option *ngFor="let type of types" [value]="type">
          Type: {{type}}
        </option>
      </select>
      <button type="submit" class="btn btn-primary doneButton" style="width:10%">-&gt;</button>
      <button class="btn btn-outline-danger doneButton" (click)="whenCancelButtonClicked(thingEntry)"
              style="width:7.5%">x
      </button>
    </div>

    <div *ngIf="thingEntry.dirty && !thingEntry.valid" class="alert-danger warning">
      <div *ngIf="thingName.dirty && !thingName.valid">
        A new thing needs a name / description. &nbsp;Please give it one.
      </div>
      <div *ngIf="thingType.dirty && !thingType.valid">A new thing needs a type. &nbsp;Please give it one.
      </div>
    </div>

  </form>

</div>
