<div id="everything">
  <h1>Things around the house</h1>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <app-rooms [rooms]="rooms" (roomChosen)="whenRoomChosen($event)"></app-rooms>
      </div>

      <div class="col-3" *ngIf="places.length > 0">
        <app-places [places]="places" (placeChosen)="whenPlaceChosen($event)"></app-places>
      </div>

      <div class="col-6" *ngIf="things.length > 0">
        <app-things [things]="things" [room]="room" [place]="place"></app-things>
      </div>
    </div>
  </div>
</div>
