<div class="background">
  <p class="title">Things</p>
  <app-thing *ngFor="let thing of things; index as ix" [thing]="thing" [index]="ix"></app-thing>
  <app-new-thing [room]="room" [place]="place" (thingsChanged)="whenThingsChanged()"></app-new-thing>
</div>
