
.background {
  background: beige;
  padding: 10px;
}

.title {
  font-weight: bolder;
  font-size: 125%;
}

.room {
  font-weight: bold;
  font-size: 110%;
  background: white;
  padding: 5px;
  margin: 5px;
}

